<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<form th:action="@{'/user/'+${user.id==null?'create':'update'}}" method="post" th:object="${user}">
    <input type="hidden" name="id" th:value="*{id}">
    <table>
        <tr>
            <th>Name</th>
            <td><input type="text" name="name" th:value="*{name}"></td>
        </tr>
        <tr>
            <th>Offers</th>
            <td>
                <input th:each="offer:${offers}" th:checked="${user.offers!=null and user.offers.contains(offer)}"
                       type="checkbox"
                       name="offers" th:value="${offer.id}"
                       th:text="${offer.code}">
            </td>
        </tr>
        <tr>
            <th>
                <input type="submit" value="SAVE">
            </th>
        </tr>
    </table>
</form>
</body>
</html>